<div class="container">
<%# <div class="form-group">
    <%= form.label t('pages.Users.forms.picture', default: 'Picture'), style: "display: block" %>
    <%# <%= form.file_field :picture, class: "form-control" %>
  <%# </div>   %>

<div class="pt-5 bg-white">


<% if @user.picture.attached?%>
<%= image_tag(@user.picture, size: "150x150",class:"rounded-circle")%>
<%else%>
<i class="fa-solid fa-circle-user fa-6x"></i>
<%end%>

<%= "#{@user.first_name} #{@user.last_name}" %>



<%= link_to "edit profile", edit_user_path(@user), class:"btn btn-outline-secondary mr-0" %>

<hr>

</div>

<div class="bg-white">

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="false">Friends</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="home-tab">

   <%= render "posts/user_post" %>

  </div>
  <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="profile-tab">

<% if @friends.length > 0 %>  

  
<% @friends.each do |friend| %>


  <div class="card">
  <div class="card-body">
   
    <% if friend.picture.attached?%>
      <%= image_tag(friend.picture, size: "150x150",class:"rounded-circle")%>
    <%else%>
      <i class="fa-solid fa-circle-user fa-6x"></i>
    <%end%>

    <h5><p><%= link_to "#{friend.first_name} #{friend.last_name}", profile_url(friend) %></p></h5>

   

  </div>
</div>


  
  <% end %>

  <% else %>
  <p class="p-3 text-center"><%= "<b>#{@user.first_name}</b> dosn't have friends".html_safe %></p>
  <%end%>



  </div>
</div>

</div>

</div>