
<div class="container">
<div class="row justify-content-center">   
<div class="col-lg-8"> 



   
<div class="posts-edit">
 <%= link_to "cancel", :back , class:"btn btn-outline-secondary mb-3" %>

<div class = "new-post">
  <div class="new-post-top">
      <span>Edit your post</span>
  </div>
<%= form_for(@post, html: {multipart: true}) do |f| %>
  <%# <%= link_to(current_user.first_name) %> 
  <%= f.text_area :content, rows: "3" %><br/>
  
 <% if @post.image.present? %>
    <%# <%= image_tag(@post.image, size: "300x300") %>
    <%= f.label :image, fa_icon('image', type: :solid, text: "Replace Photo", color: 'rgb(66, 103, 178)'), class: 'photo-label' %><br/>
  <% else %>
    <%= f.label :image, fa_icon('image', type: :solid, text: "Photo", color: 'rgb(66, 103, 178)'), class: 'photo-label' %><br/>
  <% end %>
  <%= f.file_field :image, class: 'post-photo' %><br/>

  
  <%= f.submit "Post" %>
<% end %>
</div>
</div>

</div>
</div>
