<nav class="navbar top-nav fixed-top navbar-expand-lg bg-white navbar-light shadow-sm pb-0">
  <a class="navbar-brand" href="/"
    ><i class="fa-brands fa-facebook fa-2xl"></i
  ></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
 
    <div class="input-group" style="width: 230px">
      <span class="input-group-append">
        <div class="input-group-text border-0 bg-transparent">
          <i class="fa fa-search"></i>
        </div>
      </span>
      <input
        class="form-control rounded-pill ml-n5 py-2 pl-5 ml-1 bg-transparent"
        type="search"
        placeholder="Search Facebook"
        value=""
        id="example-search-input1"
      />
    </div>



    <ul class="navbar-nav mx-auto mt-lg-0 mid-nav">
      <li class="nav-item px-4" >
        <a class="nav-link" href="/"><i class="fa-solid fa-house fa-xl"></i></a>

    <%# <ul class="navbar-nav mx-auto mt-lg-0">

     <a class="nav-link" href="/posts"><i class="fa-solid fa-house fa-xl"></i></a> %>


      </li>
      <li class="nav-item px-4">
         <a class="nav-link" href="/friends"
          ><i class="fa-solid fa-user-group fa-xl"></i
        ></a>
        <%# <%= link_to '<i class="fa-solid fa-user-group fa-xl"></i
        >'.html_safe, friends_path, class: "nav-link" %> 
      </li>


      <li class="nav-item px-4" >
        <%= link_to '<i class="fa-solid fa fa-calendar fa-xl"></i
        >'.html_safe, events_path, class: "nav-link" %>
      </li>
      <li class="nav-item px-4" >
        <a class="nav-link" href="/groups"><i class="fa-solid fa-users fa-xl"></i></a>
      </li>

      <%= render 'layouts/notifications' %>
      
    </ul>


    <div class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <div class="dropdown">
          <button
            class="btn btn-light top-btn dropdown-toggle rounded-circle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          ></button>
          <div
            class="dropdown-menu basic-menu dropdown-menu-right"
            aria-labelledby="dropdownMenuButton" id="main-dropdown"
          >
            <a class="dropdown-item" href="/profiles/<%= current_user.id %>">
              <div class="row">
                <div class="col-4">
                  <i class="fa-solid fa-circle-user fa-3x"></i>
                </div>
                <div class="col-8">
                  <%= User.find(current_user.id).first_name %>
                  <br />
                  <span class="text-muted">See Your Profile</span>
                </div>
              </div>
            </a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item settings-item" href="/settings/<%= current_user.id %>/edit">
              <div class="row">
                <div class="col-10">
                  <i class="fa-solid fa-gear"></i>
                  <span class="ml-2">Settings</span>
                </div>
                <div class="col-2">
                  <i class="fa-solid fa-chevron-right"></i>
                </div>
              </div>
            </a>

          <%#  
            <a class="dropdown-item settings-item" href="#">
              <div class="row">
                <div class="col-10">
                  <i class="fa-solid fa-globe"></i>
                  <span class="ml-2">Language</span>
                </div>
                <div class="col-2">
                  <i class="fa-solid fa-chevron-right"></i>
                </div>
              </div>
            </a>
          %>

            <%# <a data-turbo-method="delete" 
            class="dropdown-item text-decoration-none d-inline dropdown-item" 
            href="/users/sign_out">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="ml-2">
            Logout
            </span>
            </a> %>

            <%= button_to '<i class="fa-solid fa-right-from-bracket mr-2"></i> Logout'.html_safe,
             destroy_user_session_path(@user), method: :delete, class: "dropdown-item text-decoration-none d-inline dropdown-item" %> 
              
              <%# <%= link_to("Logout",destroy_user_session_path(@user),  data: { turbo_method: :delete}, class: "text-decoration-none d-inline ") %> 
            
          </div>

        </div>
      </li>
    </div>
  </div>
</nav>
